* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway";
  line-height: normal;
  font-style: normal;

}


html{
  background: var(--first-color);
  scrollbar-width: none;
}

