.container123 {

        width: 100% !important;
        @media (width < 500px) {
            margin-top: 25px !important;
        }
        display: flex !important;
        justify-content: center !important;

}

.container123 > button {
    @media (width < 500px) {
        width: 90%;
    }
}